<!DOCTYPE html>
<html>

<head>
  {{> analytics}}

  <meta charset="utf-8" />
  <title>InterestEDU</title>

  {{> headIncludes}}
</head>

<body>

  {{> nav}}

  <div class="container">
    {{#if user_profile}}
    <h3>{{user_profile.name}}, {{user_profile.college}} Class of {{user_profile.grad_year}}</h3>
    <h4><a href="mailto:{{user_profile.email}}">{{user_profile.email}}</a></h4>

    <br />

    {{#if user_interests}}
    <h3>Their interests: </h3>
      {{#each user_interests}}
      <div class="interest">
        <a href="/interests/{{this.id}}" class="interest-link">{{this.group_name}}</a>
      </div>
      {{/each}}

    {{/if}}
    {{/if}}
  </div>

  {{>footer }}
</body>

</html>
